<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
       SOY EL TEMPLATE PRIMO DESDE HTML 
    </h1>
    <h2> {{fecha_actual}} </h2>
    <ul>
        <li> listas desordenadas de ul </li>
   </ul>
   <ol>
       <li> lista ordenada de ol </li>
   </ol>
   <p> Pruebo con ol </p>
   <ol>
    {% for num in numeros%}
            <li> {{num}} </li>
        {% endfor %}
</ol>
    <p>
        Listado desordenadp
    </p>
    <ul>
        {% for num in numeros%}
        {% if num > 5  %}
        <li> {{num}} </li>
        {% elif num == 5 %}
        <li> Soy el mejor numero el 5 </li>
        {% else %}
        <li> Soy menor a 5 </li>
        {% endif %}
        {% endfor %}
   </ul> 
</body>
</html>